{% extends "page.html" %}
{% set form = myDict['form'] %}
{% block StyleAfterTemplate %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    /* Table actions icons  
*/
    table.table td a.view {
        color: #03A9F4;
    }

    table.table td a.edit {
        color: #FFC107;
    }

    table.table td a.delete {
        color: #E34724;
    }


    .hint-text {
        float: left;
        margin-top: 6px;
        font-size: 95%;
    }
</style>
{% endblock StyleAfterTemplate %}

{% block content %}
<div class="container-fluid">


    <div class="card shadow mb-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card-header py-3">
            <div class="d-inline">
                <a href="{{ url_for('supp.supplier_profile', supplier_id=mySupplier.id) }}" class="btn  btn-icon btn-md">
                  <span class="icon  text-black-50">
                    <i class="fas fa-arrow-left"></i>
                  </span>
                </a>
              </div>
            <div class="d-inline p-2">
                <span class="h5 font-weight-bold text-primary">Liste des frais unitaires du fournisseur -
                    {{mySupplier.name}} </span>
            </div>
        </div>
        <div class="card-body">
            {% if current_user.type=="sysuser" and 'supplier_level2' in roles %}
            <a href="{{ url_for('supp.add_supplier_charge', supplier_id=mySupplier.id) }}" class="btn btn-success btn float-right">
                <span class="icon text-white-50">
                  <i style="float: left;" class="material-icons mr-2">&#xE147;</i>
                </span>
                <span class="text">Ajouter un nouveau frais</span>
            </a>
            {% endif %}
            <div class="table-responsive-sm mt-4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <div id="dataTable_filter" class="dataTables_filter">
                        <label>Search:<input id="myInput" type="text" class="form-control form-control-sm float-right" placeholder="" aria-controls="dataTable"></label>
                      </div>
                    </div>
                  </div>
                <table class="table table-hover " id="myTable">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Code Frais</th>
                            <th scope="col">Description</th>
                            <th scope="col">Unité</th>
                            <th scope="col">Prix Unitaire</th>
                            <th scope="col">Devise</th>
                            {% if current_user.type=="sysuser" and 'supplier_level2' in roles %}
                            <th scope="col">Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for charge, suppCharge in suppCharges %}
                        <tr>

                            <td>{{ charge.code }}</td>
                            <td>{{ charge.description }}</td>
                            <td>{{ charge.unit }}</td>
                            <td>{{ suppCharge.unitcost }}</td>
                            <td>{{ mySupplier.currency }}</td>
                            {% if current_user.type=="sysuser" and 'supplier_level2' in roles %}
                            <td>
                                <a href="{{url_for('supp.update_supplier_charge', suppCharge_id=suppCharge.id, supplier_id=mySupplier.id)}}"
                                    class="edit" title="Edit" data-toggle="tooltip"><i
                                        class="material-icons">&#xE254;</i></a>
                                <a href="" class="delete" data-toggle="modal"
                                    data-target="#deleteModal-{{suppCharge.id}}"><i
                                        class="material-icons">&#xE872;</i></a>
                                <!-- Delete Modal -->
                                <div class="modal fade" id="deleteModal-{{suppCharge.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Voulez vous supprimer
                                                    cette charge?</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Annuler</button>
                                                <form
                                                    action="{{ url_for('supp.delete_supplier_charge', suppCharge_id=suppCharge.id, supplier_id=mySupplier.id) }}"
                                                    method="POST">
                                                    <input class="btn btn-danger" type="submit" value="Supprimer">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <!-- Add Modal -->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">Ajout d'un nouveau frais à {{ mySupplier.name }}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="" method="POST">

                            <div class="modal-body">
                                <div class="container-fluid">

                                    <div class="form-group col-sm-8">
                                        <label for="pet-select">Choisir un frais :</label>

                                        <select name="pets" id="pet-select">
                                            {% for charge in charges %}
                                            <option value="{{charge.id}}">{{ charge.name }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    <div class="form-group col-sm-8">
                                        <label for="chargeName">BLA</label>
                                        <input type="text" class="form-control" id="chargeName">
                                    </div>
                                    <div class="form-group col-sm-8">
                                        <label for="chargeName">BLA</label>
                                        <input type="text" class="form-control" id="chargeName">
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <input class="btn btn-success" type="submit" value="Ajouter">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block JsAfterTemplate %}
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable > tbody > tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock JsAfterTemplate %}