{% extends "page.html" %}

{% set form = myDict['form'] %}

{% block StyleAfterTemplate %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock StyleAfterTemplate %}

{% block content %}

<!-- Begin Page Content -->
<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Ajouter un site</h1>
        </div>
        <form class="user" method="POST" action="">
          {{ form.hidden_tag() }}

          <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.name(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-row">
            <div class="col-sm">
              {{ form.phone.label(class="form-control-label") }}
              {% if form.phone.errors %}
              {{ form.phone(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.phone.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.phone(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col-sm">
              {{ form.fax.label(class="form-control-label") }}
              {% if form.fax.errors %}
              {{ form.fax(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.fax.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.fax(class="form-control form-control-lg") }}
              {% endif %}
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm">
              {{ form.adresse.label(class="form-control-label") }}
              {% if form.adresse.errors %}
              {{ form.adresse(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.adresse.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.adresse(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col-sm">
              {{ form.city.label(class="form-control-label") }}
              {% if form.city.errors %}
              {{ form.city(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.city.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.city(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="col-sm">
              {{ form.country.label(class="form-control-label") }}
              {% if form.country.errors %}
              {{ form.country(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.country.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.country(class="form-control form-control-lg") }}
              {% endif %}
            </div>
          </div>
          <br>
          <div class="float-right">
            <a href="{{ url_for('main.update_company', company_id=company_id) }}" class="btn btn-secondary btn-icon-split" type="reset">
              <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span class="text">Retour</span>
            </a>
            <a class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              {{ form.submit(class="btn btn-success btn-icon-split") }}
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<!-- End of Main Content -->

{% endblock content %}

{% block JsAfterTemplate %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('#ministry').select2();
  });
</script>
{% endblock JsAfterTemplate %}