{% extends "page.html" %}

{% set form = myDict['form'] %}

{% block StyleAfterTemplate %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
  /* Table actions icons*/
  table.table td a.view {
    color: #03A9F4;
  }

  table.table td a.edit {
    color: #FFC107;
  }

  table.table td a.delete {
    color: #E34724;
  }


  .hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
  }
</style>
{% endblock StyleAfterTemplate %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="card shadow mb-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card-header py-3">
      <div class="d-inline ">
        <a href="{{ url_for('main.access_user') }}" class="btn  btn-icon btn-md">
          <span class="icon  text-black-50">
            <i class="fas fa-arrow-left"></i>
          </span>
        </a>
      </div>
      <div class="d-inline p-2">
        <spam class="m-0 font-weight-bold text-primary">Liste des utilisateurs</spam>
      </div>
    </div>
    <div class="card-body">
      <a href="{{ url_for('main.add_sysuser') }}" class="btn btn-success btn float-right">
        <span class="icon text-white-50">
          <i style="float: left;" class="material-icons mr-2">&#xE147;</i>
        </span>
        <span class="text">Ajouter un Utilisateur</span>
      </a>
      <div class="table-responsive-sm mt-4">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div id="dataTable_filter" class="dataTables_filter">
              <label>Search:<input id="myInput" type="text" class="form-control form-control-sm float-right"
                  placeholder="" aria-controls="dataTable"></label>
            </div>
          </div>
        </div>
        <table class="table table-hover " id="myTable">
          <thead class="thead-light">
            <tr>
              <th scope="col">Identifiant unique</th>
              <th scope="col">Nom et Prénom</th>
              <th scope="col">Email</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Entité juridique</th>
              <th scope="col">Site</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="myTable">
            {% for sysuser in sysusers %}
            <tr>
              <td>{{ sysuser.id }}</td>
              <td>{{ sysuser.lastName }} {{ sysuser.firstName }}</td>
              <td>{{ sysuser.email }}</td>
              <td>{{ sysuser.phone }}</td>
              <td>{{ select_company(sysuser.site_id) }}</td>
              <td>{{ select_name(sysuser.site_id) }}</td>
              <td>
                <a href="{{ url_for('main.update_sysuser', sysuser_id=sysuser.id) }}" class="edit" title="Edit"
                  data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                <a href="" class="delete" data-toggle="modal" data-target="#deleteModal-{{ sysuser.id }}"><i
                    class="material-icons">&#xE872;</i></a>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal-{{ sysuser.id }}" tabindex="-1" role="dialog"
                  aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Voulez vous supprimer cet utilisateur?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <form action="{{ url_for('main.delete_sysuser', sysuser_id=sysuser.id) }}" method="POST">
                          <input class="btn btn-danger" type="submit" value="Supprimer">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- End of Main Content -->

{% endblock content %}

{% block JsAfterTemplate %}
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable > tbody > tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endblock JsAfterTemplate %}