{% extends "page.html" %}

{% set form = myDict['form'] %} 

{% block content %}

		<!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Les types d'utilisateurs</h6>
              </div>
              <div class="card-body">
                    <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                      <a class="navbar-brand" href="{{ url_for('admin.sysuser') }}" >Utilisateurs du système</a>
                    </nav>
                    <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                      <a class="navbar-brand" href="{{ url_for('admin.suppuser') }}" >Utilisateurs du fournisseurs</a>
                    </nav>
              </div>
            </div>  
        </div>
        <!-- End of Main Content -->

{% endblock content %}